@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@/assets/css/font.css');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}